/* ==================== Common CSS Start ==================== */

:root {
  --default-font: "Open Sans";

  --primary-color: #0058a6;
  --neutral-color-2: #e1e2e6;

  --white: #ffffff;
  --charcol-black: #292d33;
  --silver: #b8b8b8;
}

* {
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
  outline: none;
}

html,
body {
  color: var(--charcol-black);
  height: 100%;
  font-size: 12px;
  line-height: 1.5;
  font-family: var(--default-font);
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

a,
a:focus,
a:hover {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 600;
}

a.disabled {
  color: var(--silver);
  text-decoration: none;
}

hr {
  background: var(--neutral-color-2);
  height: 1px;
  border: 0;
}

.transition {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

strong,
b,
.strong {
  font-weight: bold;
}

.semi-strong {
  font-weight: 600;
}

/* ==================== Common CSS end ==================== */


/* ==================== All Media Query Start==================== */

@media screen and (max-width: 360) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  /* 360 end here */
}

/* ==================== All Media Query End==================== */

/*  === DON'T WRITE ANY CSS AFTER MEDIA QUERY ===  */
